:root {
  --primary: 'red';
  --secondary: 'blue';
  --font: 14px;
  --padding: 20px;
  --white: '#ffffff';
  --black: '#3a3a3a';
  --text-color: #3a3a3a;
  --disabled: 'none';
}

.main {
  display: flex;
}

.root {
  display: grid !important;
  grid-template-rows: 50px auto 50px;
  height: 100vh;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
